{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{%static 'score.css'%}">
    <title>Score Page</title>
  </head>
  <body>
    <div class="head">
      <h2 class="text-center">
        KJ CODE DECODE
            <!-- <i class="fas fa-desktop"></i> -->
          </h2>

    </div>

    <div class="result">

      <h4 class="text-center">ZAHARA </h4>
      <p class="line"></p>
      <div class="content">
        <div class="row">
          <div class="col-8 question-column">
            <p class="text-center">No. of Questions</p>
            <p class="text-center">No. of Correct Answers</p>
            <p class="text-center">No. of Wrong Answers</p>
            <p class="text-center">Result</p>
          </div>
          <div class="col-4">
            <p class="text-center">6</p>
            <p class="text-center">4</p>
            <p class="text-center">2</p>
            <p class="text-center">PASS</p>
          </div>
        </div>
        <div class="content-footer">
          <p class="text-center">Congratulations, <b>Zahara</b>  move to the next round</p>
          <a href="#">Continue</a>
        </div>

      </div>
    </div>
  </body>
</html>
